PAYLOAD_SECRET=CAMBIA_ESTE_SECRETO_POR_UNO_LARGO_Y_UNICO
DATABASE_URL=file:./data/apadac.db

NEXT_PUBLIC_SERVER_URL=https://protectora-apadac.org
PAYLOAD_PUBLIC_SERVER_URL=https://protectora-apadac.org

SMTP_HOST=smtp.tu-proveedor.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=usuario-smtp
SMTP_PASS=password-smtp
SMTP_FROM_EMAIL=no-reply@protectora-apadac.org
SMTP_FROM_NAME=APADAC

